<h1><%= t "layouts.application.title" %></h1>

<p>Hi <%= @user.name %>,</p>

<p>
  <%=  t "mailer.user.text" %>
</p>

<%= link_to t("mailer.user.activate"), edit_account_activation_url(@user.activation_token, email: @user.email) %>
